@import url("https://fonts.googleapis.com/css?family=Work+Sans:300,600");

*,
*::before,
*::after {
  margin: 0;
  padding: 0;

  box-sizing: border-box;
}

html {
  font-family: "Work Sans", sans-serif;
  font-size: 16px;
}

body {
  min-height: 100vh;

  display: flex;
  flex-direction: column;
}

header {
  height: 80px;

  color: floralwhite;
  font-size: 32px;
  font-weight: bold;
  text-shadow: 3px 3px 8px rgba(0, 0, 0, 0.8);

  background-color: rgba(0, 0, 0, 0.5);

  display: grid;
  place-items: center;
}

main {
  height: 100%;

  margin: 0;

  color: #333;
  font-size: 2em;
  text-shadow: 3px 3px 15px rgba(0, 0, 0, 0.5);

  background-color: #ccc;

  display: flex;
  justify-content: center;
  align-items: center;
  flex: auto;
}
